.glitch-text {
    position: relative;

    &.glitching {
        animation: glitch-skew 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;

        &::before,
        &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.8;
        }

        &::before {
            color: #0f62fe;
            z-index: -1;
            animation: glitch-anim-1 0.4s infinite linear alternate-reverse;
        }

        &::after {
            color: #fa4d56;
            z-index: -2;
            animation: glitch-anim-2 0.4s infinite linear alternate-reverse;
        }
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(0deg);
    }

    20% {
        transform: skew(-2deg);
    }

    40% {
        transform: skew(2deg);
    }

    60% {
        transform: skew(-1deg);
    }

    80% {
        transform: skew(1deg);
    }

    100% {
        transform: skew(0deg);
    }
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(20% 0 80% 0);
        transform: translate(-2px, 1px);
    }

    20% {
        clip-path: inset(60% 0 10% 0);
        transform: translate(2px, -1px);
    }

    40% {
        clip-path: inset(40% 0 50% 0);
        transform: translate(-2px, 2px);
    }

    60% {
        clip-path: inset(80% 0 5% 0);
        transform: translate(2px, -2px);
    }

    80% {
        clip-path: inset(10% 0 70% 0);
        transform: translate(-1px, 1px);
    }

    100% {
        clip-path: inset(30% 0 20% 0);
        transform: translate(1px, -1px);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(10% 0 60% 0);
        transform: translate(2px, -1px);
    }

    20% {
        clip-path: inset(30% 0 20% 0);
        transform: translate(-2px, 1px);
    }

    40% {
        clip-path: inset(70% 0 10% 0);
        transform: translate(2px, -2px);
    }

    60% {
        clip-path: inset(20% 0 50% 0);
        transform: translate(-2px, 2px);
    }

    80% {
        clip-path: inset(50% 0 30% 0);
        transform: translate(1px, -1px);
    }

    100% {
        clip-path: inset(0% 0 80% 0);
        transform: translate(-1px, 1px);
    }
}